* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body span {
  font-size: 7.875rem;
}

main {
  position: relative;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pause svg path {
  font-size: 400px;
}

.left-menu {
  position: absolute;
  top: 50%;
  left: 30%;
  margin: -8rem 0 0 -8rem;
}

.right-menu {
  position: absolute;
  top: 45%;
  left: 65%;
  margin: -8rem 0 0 -8rem;
}

#timer-config {
  display: flex;
  margin-top: 1rem;
  gap: 2.5rem;
}

#sound-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #e1e1e6;
  padding: 3rem;
  border-radius: 1.5rem;
}

.white-button,
.dark-button {
  margin: 2rem;
  position: absolute;
  right: 0;
}

.rain-on,
.rain-on svg path,
.wood-on,
.wood-on svg path,
.bonfire-on,
.bonfire-on svg path,
.coffee-on,
.coffee-on svg path {
  background-color: #02799d;
  fill: white;
}

.white-theme,
svg path {
  background-color: white;
  color: #323238;
  fill: #323238;
}

.hide {
  display: none;
}

body.dark-theme,
.dark-theme svg path,
button.white-button {
  background-color: black;
  color: white;
  fill: #c4c4cc;
}

.dark-theme .card {
  background-color: #29292e;
}

.dark-theme .rain-on,
.dark-theme .rain-on svg path,
.dark-theme .wood-on,
.dark-theme .wood-on svg path,
.dark-theme .bonfire-on,
.dark-theme .bonfire-on svg path,
.dark-theme .coffee-on,
.dark-theme .coffee-on svg path {
  background-color: #0a3442;
  fill: white;
}

@media (max-width: 930px) {
  .left-menu {
    position: absolute;
    top: 25%;
    left: 43%;
    margin: -8rem 0 0 -8rem;
  }
  #timer-config {
    margin-top: 2rem;
  }
  .right-menu {
    position: absolute;
    top: 65%;
    left: 40%;
    margin: -8rem 0 0 -8rem;
  }
  .white-button,
  .dark-button {
    margin: 1rem;
    position: absolute;
    right: 0;
  }
}
